<div class="one-img-container">
  <div class="img menu-img">
      <%= image_tag('menu.jpg') %>
  </div>
</div>

<div class="menu-one-container">
  <div class="menu-bar">
  <a id="combo">Combo Plates</a><a id="appetizer">Appetizer</a><a id="app-combo">Appetizer Combo</a><a id="soups">Soups</a><a id="dumplings">Dumplings</a><a id="rice">Rice</a><a id="lo-mein">Lo-Mein</a><a id="beef">Beef</a>
  <a id="chicken">Chicken</a><a id="pork">Pork</a><a id="seafood">Seafood</a><a id="drinks">Drinks</a>
  </div>
</div>

<div class="menu-two-container">
  <div class="panel large-12 columns large-centered appetizer-container">
  <h3>Appetizer</h3>
  <% @appitizer.each do |m| %>
    <ul class="item">
    <div class="small-7 columns">
      <%if m.spicy %>
        <%=image_tag('spicy.png', height:"25", width:"25") %>
      <% else %>
      <% end %>
      <li><strong><%= link_to m.name, menu_path(m.id) %></strong></li>
    </div>
     <li>$ <%= m.price %></li>
    <div class="small-4 columns">
     <% if current_user %>
      <li><%= link_to "edit", new_menu_path %></li>
      <li><%= link_to "delete", menu_path(m.id), method: :delete %></li>
     <% end %>
    </div>
    </ul>
  <% end %>
  </div>
  <div class="panel small-12 columns small-centered rice-container">
  <h3>Rice</h3>
   <% @rice.each do |m| %>
    <ul class="item">
    <%if m.spicy = "true" %>
      <%=image_tag('spicy.png', height:"25", width:"25") %>
    <% else %>
    <% end %>
     <li><strong><%= link_to m.name, menu_path(m.id) %></strong></li>
     <li>$ <%= m.price %></li>
     <% if current_user %>
      <li><%= link_to "edit", new_menu_path %></li>
      <li><%= link_to "delete", menu_path(m.id), method: :delete %></li>
     <% end %>
    </ul>
  <% end %>
  </div>
  <div class="panel small-12 columns small-centered lo-mein-container">
  <h3>Lo-Mein</h3>
  <% @lo_mein.each do |m| %>
    <ul class="item">
    <%if m.spicy = "true" %>
      <%=image_tag('spicy.png', height:"25", width:"25") %>
    <% else %>
    <% end %>
     <li><strong><%= link_to m.name, menu_path(m.id) %></strong></li>
     <li>$ <%= m.price %></li>
     <% if current_user %>
      <li><%= link_to "edit", new_menu_path %></li>
      <li><%= link_to "delete", menu_path(m.id), method: :delete %></li>
     <% end %>
    </ul>
  <% end %>
  </div>
  <div class="panel small-12 columns small-centered dumplings-container">
  <h3>Dumplings</h3>
  <% @dumplings.each do |m| %>
    <ul class="item">
    <%if m.spicy = "true" %>
      <%=image_tag('spicy.png', height:"25", width:"25") %>
    <% else %>
    <% end %>
     <li><strong><%= link_to m.name, menu_path(m.id) %></strong></li>
     <li>$ <%= m.price %></li>
     <% if current_user %>
      <li><%= link_to "edit", new_menu_path %></li>
      <li><%= link_to "delete", menu_path(m.id), method: :delete %></li>
     <% end %>
    </ul>
  <% end %>
  </div>
  <div class="panel small-12 columns small-centered beef-container">
  <h3>Beef</h3>
  <% @beef.each do |m| %>
    <ul class="item">
    <%if m.spicy = "true" %>
      <%=image_tag('spicy.png', height:"25", width:"25") %>
    <% else %>
    <% end %>
     <li><strong><%= link_to m.name, menu_path(m.id) %></strong></li>
     <li>$ <%= m.price %></li>
     <li><%= image_tag(m.picture) %></li>
     <% if current_user %>
      <li><%= link_to "edit", new_menu_path %></li>
      <li><%= link_to "delete", menu_path(m.id), method: :delete %></li>
     <% end %>
    </ul>
  <% end %>
  </div>
  <div class="panel small-12 columns small-centered chicken-container">
  <h3>Chicken</h3>
  <% @chicken.each do |m| %>
    <ul class="item">
    <%if m.spicy = "true" %>
      <%=image_tag('spicy.png', height:"25", width:"25") %>
    <% else %>
    <% end %>
     <li><strong><%= link_to m.name, menu_path(m.id) %></strong></li>
     <li>$ <%= m.price %></li>
     <li><%= image_tag(m.picture) %></li>
     <% if current_user %>
      <li><%= link_to "edit", new_menu_path %></li>
      <li><%= link_to "delete", menu_path(m.id), method: :delete %></li>
     <% end %>
    </ul>
  <% end %>
  </div>
  <div class="panel small-12 columns small-centered pork-container">
  <h3>Pork</h3>
  <% @pork.each do |m| %>
    <ul class="item">
    <%if m.spicy = "true" %>
      <%=image_tag('spicy.png', height:"25", width:"25") %>
    <% else %>
    <% end %>
     <li><strong><%= link_to m.name, menu_path(m.id) %></strong></li>
     <li>$ <%= m.price %></li>
     <li><%= image_tag(m.picture) %></li>
     <% if current_user %>
      <li><%= link_to "edit", new_menu_path %></li>
      <li><%= link_to "delete", menu_path(m.id), method: :delete %></li>
     <% end %>
    </ul>
  <% end %>
  </div>
  <div class="panel small-12 columns small-centered seafood-container">
  <h3>Seafood</h3>
  <% @seafood.each do |m| %>
   <ul class="item">
   <%if m.spicy = "true" %>
      <%=image_tag('spicy.png', height:"25", width:"25") %>
    <% else %>
    <% end %>
     <li><strong><%= link_to m.name, menu_path(m.id) %></strong></li>
     <li>$ <%= m.price %></li>
     <li><%= image_tag(m.picture) %></li>
     <% if current_user %>
      <li><%= link_to "edit", new_menu_path %></li>
      <li><%= link_to "delete", menu_path(m.id), method: :delete %></li>
     <% end %>
    </ul>
  <% end %>
  </div>
  <div class="panel small-12 columns small-centered soups-container">
  <h3>Soups</h3>
  <% @soups.each do |m| %>
    <ul class="item">
    <%if m.spicy = "true" %>
      <%=image_tag('spicy.png', height:"25", width:"25") %>
    <% else %>
    <% end %>
     <li><strong><%= link_to m.name, menu_path(m.id) %></strong></li>
     <li>$ <%= m.price %></li>
     <li><%= image_tag(m.picture) %></li>
     <% if current_user %>
      <li><%= link_to "edit", new_menu_path %></li>
      <li><%= link_to "delete", menu_path(m.id), method: :delete %></li>
     <% end %>
    </ul>
  <% end %>
  </div>
  <div class="panel small-12 columns small-centered drinks-container">
  <h3>Drinks</h3>
  <% @drinks.each do |m| %>
    <ul class="item">
    <%if m.spicy = "true" %>
      <%=image_tag('spicy.png', height:"25", width:"25") %>
    <% else %>
    <% end %>
     <li><strong><%= link_to m.name, menu_path(m.id) %></strong></li>
     <li>$ <%= m.price %></li>
     <li><%= image_tag(m.picture) %></li>
     <% if current_user %>
      <li><%= link_to "edit", new_menu_path %></li>
      <li><%= link_to "delete", menu_path(m.id), method: :delete %></li>
     <% end %>
    </ul>
  <% end %>
  </div>
  <div class="panel small-12 columns small-centered combo-container">
  <h3>Combination Plates</h3>
  <% @drinks.each do |m| %>
    <ul class="item">
    <div class="small-4 columns">
    <%if m.spicy = "true" %>
      <%=image_tag('spicy.png', height:"25", width:"25") %>
    <% else %>
    <% end %>
     <li><strong><%= link_to m.name, menu_path(m.id) %></strong></li>
     </div>
     <div class="small-4 columns">
      <li>$ <%= m.price %></li>
     </div>
     <div class="small-4 columns">
      <li><%= image_tag(m.picture) %></li>
      <% if current_user %>
        <li><%= link_to "edit", new_menu_path %></li>
        <li><%= link_to "delete", menu_path(m.id), method: :delete %></li>
      <% end %>
     </div>
    </ul>
  <% end %>
  </div>
</div>

<div class="menu-three-container">
<% if @menu %>
  <% @menu.each do |image| %>
    <%= image_tag(m.picture) %>
  <% end %>
<% end %>
</div>
