<div class="ingredient-one-container">
  <div class="ingredient-img">
    <%= image_tag('pickingpods.jpg') %>
  </div>
</div>

<div class="ingredient-two-container small-12 small-centered columns">
  <div class="ingredient-info-1-container">
    <div class="ingredient-info-1">We Know Our Ingredients.</div>
    <div class="ingredient-info-1">It's Fresh!</div>
  </div>
</div>

  <div class="vendor-container large-12 columns">
    <div class="small-6 columns">
      <div class="panel vendor-info-2">Vendors.</div>
        <div class="special info-3">
          <div class="dish-name">
            <li><strong>It's important to us, where our ingredients come from.</strong></li>
          </div>
        </div>
    </div>
    <div class="small-6 columns info-3">
      <div class="vendor-pic1">
        <%= image_tag('ingredient.jpg') %>
      </div>
    </div>
  </div>

  <div class="vendor-container large-12 columns">
    <div class="small-6 columns info-3">
      <div class="vendor-pic1">
        <%= image_tag('prep.jpg') %>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="panel vendor-info-2">Pain Staking Preparation!</div>
        <div class="special info-3">
          <div class="dish-name">
            <li><strong>We make sure nothing extra goes into our meat.</strong></li>
          </div>
        </div>
    </div>
  </div>

  <div class="vendor-container large-12 columns">
    <div class="small-6 columns">
      <div class="panel vendor-info-2">Smoking Our Ribs.</div>
        <div class="special info-3">
          <div class="dish-name">
            <li><strong>From Our Own General Gau's Sauce to the Batter for Our Chicken Fingers. Everything is from Scratch!</strong></li>
          </div>
        </div>
    </div>
    <div class="small-6 columns info-3">
      <div class="vendor-pic1">
        <%= image_tag('xribs.jpg') %>
      </div>
    </div>
  </div>

  <div class="environment-container large-12 columns">
    <div class="small-6 columns">
      <div class="panel env-info-2">We   Recycle  !</div>
        <div class="small-6 columns special info-3">
          <div class="dish-name">
            <li><strong>Reducing our carbon foot print. We recycle all of our cardboard boxes, plastics and cans. </strong></li>
      <div class="small-6 columns recycle-pic1">
        <%= image_tag('recycle1.jpg') %>
      </div>
          </div>
        </div>
    </div>
    <div class="small-6 columns env-info-3">
    </div>
  </div>


