<!DOCTYPE html>
<html>
<head>
  <title>Number One Taste, Belmont Mass</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
</head>
<body>
<div class="one-container">
   <div class="large-12 columns title-bar">
      <div class="large-5 columns">
        <li class="logo">
          <%= link_to image_tag('logo.jpg'), ones_path %>
        </li>
      </div>
    <div class="large-7 columns">
      <ul class="navi">
        <li><%= link_to "Online Order", "http://eat24hrs.com/restaurants/order2/index.php?id=68268" %></li>
        <li><%= link_to "Menu", menus_path %></li>
        <li><%= link_to "Direction", directions_path %></li>
        <li><%= link_to "About Us", ingredients_path %></li>
        <% if current_user %>
          <li><%= link_to "/ Admin", new_menu_path %></li>
        <% end %>
        <li><%= link_to image_tag('yelp1.jpg'), "http://www.yelp.com/biz/number-one-taste-chinese-restaurant-belmont" %></li>
        <li><%= link_to image_tag('fb.jpg'), "https://www.facebook.com/Number1Taste" %></li>
      </ul>
    </div>
  </div>
</div>
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
